<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title edit">
			<h2>Edit Post</h2>
		</div>
		<%= image_tag @pin.image.url(:original) %>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
