<div class="jumbotron">
<h1>Welcome to <span style="color:#d9534f">Pic</span>board</h1>
<p>Browse and upload great pics and gifs!</p>

<% if user_signed_in? %>
<% else %>
<p>
	<%= link_to "Log In", new_user_session_path, class: "btn btn-default btn-lg" %>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger btn-lg" %>
</p>
<% end %>

</div>
