<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<div class="about">
				<h2>About <span style="color:#d9534f">Pic</span>board</h2>
			</div>
		</div>
	</div>
		<div class="panel-body">
			<p>Hi my name is Brad! I'm working on learning web development and put together Picboard after having went through One Month Rails.
			<br>
			<br>
			I'm slowly expanding out the features of the site as I learn new fancy stuff. In the meanwhile, feel free to check things out!</p>
		</div>
</div>


