<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">
			<div class="about">
				<h2>About Me</h2>
			</div>
		</div>
	</div>
		<div class="panel-body">
			<p>My name is Brad and I'm currently working through the One Month Rails course to learn about web development. When all is said and done, this should be sort of Pinterest-esque, and hopefully I'll have more sites to come!</p>
		</div>
</div>


