<h1>About me</h1>
<p>My name is Brad and I'm currently working through the One Month Rails course to learn about web development. When all is said and done, this should be sort of Pinterest-esque, and hopefully I'll have more sites to come!</p>