<div class = "terms">
	<h2>
		Pixbored Copyright Policy
	</h2>
	<br>
	<p>
		Pixbored respects the intellectual property rights of others and expect our users to do the same. It is our policy, in appropriate circumstances and at our discretion, to disable and/or terminate the accounts of users who repeatedly infringe or are repeatedly charged with infringing the copyrights or other intellectual property rights of others.</p>

	<p>
		In accordance with the Digital Millennium Copyright Act of 1998 (&quot;DMCA&quot;), the text of which may be found on the U.S. Copyright Office Website at <a href="http://www.copyright.gov/legislation/dmca.pdf">http://www.copyright.gov/legislation/dmca.pdf</a>, we will respond to legitimate claims of copyright infringement committed on our site and within our application. If you become aware of content available on Pixbored that infringes your copyright rights, you may submit a properly formatted DMCA request (see 17 U.S.C. ยง 512) to us.
		</p>

	<p>
		Misrepresentations of infringement can result in liability for monetary damages. You may want to consult an attorney before taking any action pursuant to the DMCA. Any DMCA request should be sent to this contact information:
	</p>

	<p>
		To provide Pixbored a notice of an infringement, you must provide a written communication to the attention of &quot;Copyright Agent&quot; care of <a href="mailto:copyright@pixbored.com">copyright@pixbored.com</a> that sets forth the information specified by the DMCA (<a href="http://www.copyright.gov/title17/92chap5.html#512">http://www.copyright.gov/title17/92chap5.html#512</a>). Please also note that you may be liable for damages (including costs and attorneys&#39;s fees) if you materially misrepresent that an activity is infringing your copyright.
	</p>
	<br>
	<p>
		Please send our Copyright Agent the following information:
	</p>
		<ol type="i">
			<li>
				The electronic or physical signature of the owner of the copyright or the person authorized to act on the owner&#39;s behalf;
			</li>
			<li>
				Identification of the copyrighted work claimed to have been infringed, or a representative list of such works;
			</li>
			<li>
				The URL or Internet location of the materials claimed to be infringing or to be the subject of infringing activity, or information reasonably sufficient to permit us to locate the material;
			</li>
			<li>
				Your name, address, telephone number and email address;
			</li>
			<li>
				A statement by you that you have a good faith belief that the disputed use of the material is not authorized by the copyright owner, its agent or the law; and
			</li>
			<li>
				A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the copyright owner or are authorized to act on the copyright owner&#39;s behalf.
			</li>
	</ol>
	<br>
	<p>
		If you believe that content was wrongly removed from the Pixbored site or application due to a DMCA request, you may request a copy of the DMCA notice and you may file a counter-notification by sending us the following:
	</p>
		<ol type="i">
			<li>
				Your physical or electronic signature;
			</li>
			<li>
				Identification of the material that has been removed or to which access has been disabled and where the material was located online before it was removed or access to it was disabled;
			</li>
			<li>
				A statement by you, under penalty of perjury, that you have a good faith belief that the material was removed or disabled as a result of mistake or misidentification of the material to be removed or disabled; and
			</li>
			<li>
				Your name, address, and telephone number, and a statement that you consent to the jurisdiction of federal district court for the judicial district in which the address is located, or if your address is outside of the United States, for any judicial district in which the service provider may be found, and that you will accept service of process from the person who provided notification under DMCA 512 subsection (c)(1)(c) or an agent of such person.
			</li>
		</ol>
	<br>
	<p>
		When we receive a valid counter-notice, we will forward a copy to the person who filed the original complaint. If we do not receive notice within 10 business days that the submitter of the original complaint is seeking a court order to prevent further infringement of the content at issue, we will remove the complaint from your account&#39;s record, and we may replace the content that was removed.
	</p>

</div>