<div class="panel panel-default">
	<div class="panel-heading">
		<div class="panel-title">
			<h2>Upload an Image</h2>
			<p>Add your favorite pic or gif by uploading or dragging it into the box below!</p>
		</div>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
