/* Home Page */
h1, h2, h3, h4 {
	font-family: helvetica;
}

.navbar-brand a {
	color: #d9534f;
	font-weight: bold;
}

.navbar-brand a:hover, a:focus {
	color: #d9534f;
	text-decoration: none;
}

.jumbotron {
	border: 1px solid rgb(236,236,236);
	padding-bottom: 10px;
}

.jumbotron h1 {
	font-size: 53px;
	font-weight: bold;
	padding-bottom: 5px;
}

.jumbotron p {
	padding-left: 5px;
	font-weight: light;
}

/* About page */
.about h2 {
	color: rgb(92, 92, 92);
	padding-bottom: 5px;
}

	p {
	font-size: 16px;
	max-width: 600px;
}

/* Account Settings Page */
.panel-footer h3 {
	font-weight: bold;
	padding-bottom: 15px;
}

.panel-footer .btn {
	margin-bottom: 10px;
}

.actions a {
	padding-top: 10px;
	padding-right: 15px;
}

/* Responsive button sizes */
@media (min-width: 100px) and (max-width: 600px) {
.btn-responsive {
	width: 100%;
}
	}

@media (min-width: 100px) and (max-width: 400px) {
.jumbotron h1 {
	text-align: center;
}
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) { 
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
    background: #eee;
  }
}